.css-14wfnfu {
  padding: 0px;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-row.MuiGrid-spacing-xs-4.css-j2sh2k-MuiGrid-root {
  flex-wrap: nowrap !important;
}

.MuiGrid-root.MuiGrid-direction-xs-row.css-1ar0xx2-MuiGrid-root {
  width: 100% !important;
}
